.about-main-container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.about-video-container {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: black;

  position: relative;

  opacity: 0; /* Inicialmente, los contenedores estarán ocultos */
  animation: fade 1s ease-in-out forwards; /* Duración de la animación y función de tiempo */

}


.about-video{
  z-index: 0;
  max-width: 100%;
  background-color: black;
  opacity: 100%;
  margin-top: 20%;
}

.about-video-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
}

.about-title{
  left: 10%;
  z-index: 2;
  color: white;
  font-size: 10vw;
  text-align: left;
  position: absolute;
  top: 0;
  padding-top: 5%;
  font-family: 'Bebas Neue', sans-serif;
  
}
@media (max-width: 500px) {
  .about-title, .about-video {
    position: relative;
    display: flex;
    font-size: 80px;
  }
  .about-title {
    top: -80vh;
    left:0%;
  }
  .about-video{
    margin-top: 80vh;
  }
}
/* ------------------- VISION -----------------------*/ 
.about-vision{
  display: flex;
  padding: 5%;
  font-size: 10vh;
  align-items: center;
  transition: transform 0.3s ease-in;
  background-color: black;
  color: white;
  border-top-color: white;
  border: 0px;
  border-top: 5px;
  border-style: solid;
}

.about-vision-tittle{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
}

.about-vision-body{
  font-size: 3vh;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .about-vision-tittle{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70%;
  }
  .about-vision-body{
    font-size: 30%;
  }
}
.photoGirl {
  background-color: black;
  padding: 5%;
  width: 50%;
  display: flex;
  margin: 0 auto;
}
/* ------------------- MISSION -----------------------*/ 
.about-mission{
  display: flex;
  padding: 5%;

  font-size: 10vh;
  align-items: center;
  transition: transform 0.3s ease-in;
  background-color: rgb(0, 0, 0, 0.925);
  color: white;

}

.about-mission-tittle{
  text-align: center;
  padding-right: 2%;
  font-family: 'Bebas Neue', sans-serif;
}

.about-mission-body{
  font-size: 3vh;
  padding-right: 2%;
  font-family: 'Roboto', sans-serif;
}

#video2{
  border-radius: 50%;
}


@keyframes fade {
  from {
    opacity: 0; /* Comienzo de la animación con opacidad 0 */
    transform: translateY(20px); /* Puedes ajustar la animación de desplazamiento vertical si lo deseas */
  }
  to {
    opacity: 1; /* Final de la animación con opacidad 1 */
    transform: translateY(0); /* Puedes ajustar la animación de desplazamiento vertical si lo deseas */
  }
}
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fade-in-left 1s ease forwards;
}
@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right {
  animation: fade-in-right 1s ease forwards;
}
