.About {
    background-color: #f9f9f9;
    margin: 10%;
  }
  
  .About-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
  }
  
  .About-body {
    margin-top: 24px;
  }
  
  .text {
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .About-vision-text,
  .About-objective-text {
    font-size: 16px;
    line-height: 1.5;
    color: #a39c9c;
    margin-bottom: 24px;
  }
  .About-title, .text {
    color: rgb(255, 255, 255);
  }
  .About-title{
    font-size: 300%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }