

.carousel-wrapper img {
    max-width: 50%;
    max-height: 80%;
}

element.style {
    transform: translate3d(-100%, 0px, 0px);
    transition-duration: 350ms;
}

.carousel .slider-wrapper.axis-horizontal .slider {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

