.carrusel img {
    max-width: 500px;
    max-height: 500px;
}
.description{
    color: gray;
    margin: 5%;
}
.price {
    color: chocolate;
    margin: 5%;
}
.carousel-wrapper {
    justify-content: left;
    align-items: left;
    padding: 3%;
    /* Otros estilos necesarios */
  }
  
  /* Resto de los estilos del carrusel */
  