
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 2%;
    width: 100%;
  }
  
  .footer-developers {
    font-size: 14px;
    color: white;
  }
  
  .footer-developers p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .footer-developers ul {
    font-size: 12px;/**/
    list-style: none;
    padding: 0;
    column-count: 4;
    column-gap: 20px;
  }
  
  .footer-developers li {
    margin-bottom: 10px;/**/
  }
  li {
    text-decoration: none;
    font-size: 15px;/**/
}
  
  .footer-developers a {
    text-decoration: none;
    color: white;
  }
  
  .footer-developers a:hover {
    text-decoration: underline;
  }
  
  .footer-legal {
    font-size: 12px;
    color: white;
    margin-top: 8px;
  }
  
  footer {
    background-color: black;
  }