.App-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.logo {
  max-width: 140px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: 100%;
  color: chocolate;
  list-style: none;
  gap: 5%;
}

li {
  text-decoration: none;
}

.ico {
  font-size: 200% !important;
  color: chocolate;
} 

.ico:hover {
  transition: 0.5s;
  color: #f66464;
}

