.App-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  object-fit: cover;
  margin: 0 10%;
}

.logo {
  max-width: 140px;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-right: 5%;
  font-size: 100%;
  color: #ff6600;
  list-style: none;
  gap: 5%;
}

li {
  text-decoration: none;
  font-size: 60px;
}

.cart-icon {
  color: #ff6600;
  cursor: pointer; /* Agrega esta línea para el cursor pointer */
}

.ico {
  color: #ff6600;
  font-size: 40px;
}

