.App-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  width: auto;
  margin: 0;
  padding: 0 15%;
  justify-content: space-between;
}

.logo {
  max-width: 140px;
  justify-self: left;
}

.options {
  display: flex;
  justify-content: left;
  width: 100%;
  align-items: center;
  font-size: 100%;
  color: #ff6600;
  list-style: none;
  gap: 20%;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

.cart-icon {
  color: #ff6600;
  cursor: pointer; /* Agrega esta línea para el cursor pointer */
}

.ico {
  color: chocolate;
  font-size: 40px;
}

