body {
    font-family: Arial, sans-serif;
    background-color: #0f0f0f;
    color: white;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1d1c1c;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input {
    margin: 1%;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: chocolate;
    color: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
  }
